body{
    background-color: #e5e5e5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

/***** HEADER *****/
.header{
    width: 100%;
    min-width: 400px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(41, 71, 116);
    align-items: center;
    padding: 15px 0px 15px 0px;
    
}

.header button{
    padding: 10px;
    border: solid 1px white;
    background-color: rgb(41, 71, 116);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    margin-right: 20px;
}

.header button:hover{
    background-color: white;
    color: rgb(41, 71, 116);
}


.header h1{
    color: white;
    margin-left: 55px;
}

/*****TERMINA HEADER *****/

/* -*-*-*-*-*-*-*-*-*- */

/*****BOTONERA Y BUSQUEDAS *****/

.botonera{
    width: 100%;
    min-width: 400px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.botonera > button{
    width:30px;
    height: 25px;
    border-radius: 5px;
    border: solid 1px rgb(41, 71, 116);
    color: rgb(41, 71, 116);
    font-weight: 600;
    font-size: 14px;
    margin: 5px;
    cursor: pointer;
    padding: 0px
}

.botonera >button:hover{
    background-color: rgb(41, 71, 116);
    color: white;
}

.busquedas{
    width: 100%;
    min-width: 400px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.busquedas .campo{
    font-size: 18px;
    border: solid 1px rgb(250, 116, 54);;
    border-radius: 10px;
    padding: 5px;
}

.busquedas .boton{
    background-color: transparent;
    font-size: 24px;
    color: rgb(250, 116, 54);
    border: none;
    cursor: pointer;
}

/***** TERMINA BOTONERA Y BUSQUEDAS *****/

/* -*-*-*-*-*-*-*-*-*-*-*- */

.listaResultados{
    width: 100%;
    min-width: 400px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.listaResultados .contenedor{
    width: 400px;
    text-align: center;
    display: block; /*ojo se oculta y se muestra (block y none)*/
}

.listaResultados .contenedor ul{
    margin-left: 0px;
    text-align: left;
}

.listaResultados .contenedor ul li.oscuro{
    width: 300px;
    height: 20px;
    background-color: #d5d5d5;
    margin-top: 5px;
    padding: 5px;
}

.listaResultados ul li.claro{
    width: 300px;
    height: 20px;
    background-color: #f3f3f3;
    margin-top: 5px;
    padding: 5px;

}

.listaResultados .contenedorRegistro{
    width:45%;
    min-width: 400px;
    display: none; /*ojo se oculta y se muestra (flex y none)*/
    justify-content: center;
    align-items: center;
}

.listaResultados .contenedorRegistro .registro{
    width: 80%;
    /*height: 300px;*/
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 10% 60% 30%;
    padding: 20px; 
}

.listaResultados .contenedorRegistro .registro > div.cerrar{
    grid-column-end: span 3;
    height: 20px;
    text-align: right;
}

.listaResultados .contenedorRegistro .registro > div.cerrar button{
    color: rgb(41, 71, 116);
    font-size:20px;
    margin-top: -15px;
    width: 30px;
    height: 30px;
}

.listaResultados .contenedorRegistro .registro > div.nombre{
    grid-column-end: span 3;
    height: 40px;
    margin-bottom: 10px;
    color: rgb(41, 71, 116);
    font-size:24px;
    font-weight: 400;
}

.listaResultados .contenedorRegistro .registro > div.icono{
    margin-bottom: 2px;
    margin-right: 2px;
    text-align: center;
    padding-top: 5px;
    background-color: rgb(245, 245, 245);
    color: rgb(41, 71, 116);
    font-size: 22px;
}

.listaResultados .contenedorRegistro .registro > div.datos{
    margin-bottom: 2px;
    margin-right: 2px;
    padding: 5px;
    text-align: left;
    background-color: rgb(245, 245, 245);
}

.listaResultados .contenedorRegistro .registro > div.datos2{
    margin-bottom: 2px;
    margin-right: 2px;
    padding: 5px;
    text-align: left;
    background-color: rgb(245, 245, 245);
    grid-column-end: span 2;
}

.listaResultados .contenedorRegistro .registro >div.spacer{
    grid-column-end: span 3;
    height:5px;
}

.listaResultados .contenedorRegistro .registro > div.mensaje{
    margin-bottom: 2px;
    margin-right: 2px;
    padding: 5px;
    text-align: left;
}

.listaResultados .contenedorRegistro .registro > div.sinIcono{
    margin-bottom: 2px;
    margin-right: 2px;
    text-align: center;
    padding-top: 5px;
}

.listaResultados .contenedorRegistro .registro > div.foto{
    grid-row-end: span 5;
    padding: 5px;
    background-color: rgb(245, 245, 245);
    text-align: center;
}


.listaResultados .contenedorRegistro button{
    width: 50px;
    height: 50px;
    border: none;
    font-size:36px;
    color: #aaaaaa;
    background-color: transparent;
    cursor: pointer;
}

.fotoContacto{
    width:70%;
}

/* *-*-*-*-*-*-*-*-*-*-* */


/* FORMULARIO INGRESO / EDICION PACIENTES */

.form-container {
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
background-color: #fff;
border-radius: 10px;
min-width: 415px;
min-height: 300px;
display: grid;
grid-template-columns: 10% 90%;
padding: 10px;

}

.form-container > div.titulo{
    font-weight: 600;
    font-size: 24px;
    /*color:rgb(250, 116, 54);*/
    color: rgb(41, 71, 116);
    grid-column-end: span 2;
    text-align: center;
    margin-bottom: 20px;
}


.form-container > div.iconos{
    margin-bottom: 10px;
    margin-right: 2px;
    text-align: center;
    color: rgb(41, 71, 116);
    padding-top: 10px;
}

.form-container > div.formulario{
margin-bottom: 10px;
margin-right: 2px;
padding: 10px 0px 0px 5px;
}

.form-container > div.formularioFN{
    margin-bottom: 10px;
    margin-right: 2px;
    padding: 10px 0px 0px 5px;
    font-size:13px;
    color: rgb(41, 71, 116);
    }

.camposForm{
    width: 300px;
    border: none;
    background-color: transparent;
    /*border-bottom: solid 1px rgb(250, 116, 54);*/
    border-bottom: solid 1px rgb(150, 150, 150);
    font-size: 14px;
}

.camposFormError{
    width: 300px;
    border: none;
    background-color: rgb(236, 236, 109);
    border-bottom: solid 1px rgb(150, 150, 150);
    font-size: 14px;
}

.campoSelect{
    width: 250px;
    /*border: solid 1px rgb(250, 116, 54);*/
    border: none;
    font-size: 12px;
    padding: 3px;
    background-color: rgb(230, 230, 230);
}

.campoSelectDia{
    width: 50px;
    /*border: solid 1px rgb(250, 116, 54);*/
    border: none;
    font-size: 12px;
    padding: 3px;
    background-color: rgb(230, 230, 230);
}

.campoSelectMes{
    width: 100px;
    /*border: solid 1px rgb(250, 116, 54);*/
    border: none;
    font-size: 12px;
    padding: 3px;
    background-color: rgb(230, 230, 230);
    margin-left: 5px;
}

.campoSelectAnio{
    width: 70px;
    /*border: solid 1px rgb(250, 116, 54);*/
    border: none;
    font-size: 12px;
    padding: 3px;
    background-color: rgb(230, 230, 230);
    margin-left: 5px;
}

::placeholder{
    color: rgb(150, 150, 150);
}

.botonFormulario{
    width:80px;
    height: 35px;
    border-radius: 5px;
    border: solid 1px rgb(250, 116, 54);
    background-color: white;
    color:  rgb(250, 116, 54);
    font-weight: 600;
    font-size: 14px;
    margin: 5px;
    cursor: pointer;
    padding: 0px;
}

.botonFormulario:hover{
    background-color: rgb(250, 116, 54);
    color: white;
}

.mensaje{
    font-size: 12px;
    font-weight: bold;
    color: rgb(250, 116, 54);
}
  /****** TERMINA FORMULARIO INGRESO / EDICION PACIENTES *******/

  /******PASSWORD *******/
  .mostrarPassword{
      border: none;
      background-color: transparent;
      font-size: 16px;
      color: rgb(150, 150, 150);
      cursor: pointer;
  }


